DOMAIN=
RELEASE=5.2.0
ROCKET_PORT=
ROOT_URL=
HOST_PORT=
BOT_URL=
BOT_VERSION=12.30.5
MONGODB_VERSION=5.0
PS_VERSION=latest
POSTGRES_PASSWORD=
DEPLOY_PLATFORM=docker
ADMIN_USERNAME=
ADMIN_NAME=
ADMIN_PASS=
ADMIN_EMAIL=
